                            
@{
    Layout = null;
}


<h1>Yeni kategori Ekleme Sayfasi</h1>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" name="CategoryName" class="form-control" />
    <br />
    <input type="text" placeholder="Açıklama Giriniz" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-primary">Add</button>
</form>
