
@{
    Layout = null;
}

<h3>Mvc Tablo Örneği-Kategori</h3>
<br />
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>true</td>
    </tr>
</table>

